.App {
  text-align: center;
}

.App-header {
  background-image: linear-gradient(transparent, white), url(./ladan-bakgrund.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}